@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Armies Display';
    src: url('/fonts/Armiesdisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
.headerCSS{
  @apply p-2 lg:mr-8 lg:my-2 lg:mt-5 lg:ml-3 cursor-pointer ml-1 mr-2 p-2 block
}

.footerCSS {
  @apply cursor-pointer;
}
